.checkoutinfo-price{
    font-family: $regular-font;
    font-size: $s-size;
    color: $normal-yellow;
    margin-left: 30%;
}

.checkoutinfo-paragraph{
    font-family: $regular-font;
    font-size: $xxxs-size;
    margin-left: 30%;
    margin-bottom: 2%;
    border-bottom: 0.2rem solid $normal-grey;
    max-width: 60.5rem;
}

.checkoutinfo-title{
    font-family: $regular-font;
    font-size: $xs-size;
    margin-left: 30%;
}